@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Tengo que reestructurar */

:root{
    --azulito: #242340;
    --verde: #3c744a;
    --violet:#624dcc;
    --gris:#f9f9f9;
    --gris--menu: #383838;
    --verde-boton-susc:#2c6b1b;
    --font: 'Nunito', sans-serif;
    --font-2: 'Permanent Marker', cursive;
}

.slider-peliculas {
    
    display: grid;
    gap: 1em;
    grid-template-columns: 50px 1fr 50px;
    
    width: 100%;
    margin:0 auto;
    
    overflow: hidden;
    align-items: center;
}

.contenedor-peliculas{
    /*
    display:flex;
    padding:0;
    width:300%;
    */

    grid-column: 1/4; 
    grid-row: 1/2; 
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 95vh;
    

    /*animation: cambio 30s infinite alternate;*/
}

.pelicula--show{

    opacity: 0;

}

.slider-actual{

    opacity: 1;

}

.pelicula--show img{
    
    width: 100%;
    object-fit: cover;
    display: block;

}

.pelicula--show h1{

    position: absolute;
    margin-top: 20px;
    color:#fff;
    font-size: 35px;
    margin-left: 12%;
    font-family: var(--font);
    text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    
}

.pelicula--show p {

    position:absolute; 
    opacity: 0;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #000;
    border-radius: 15px;
    padding: 10px;

}

.pelicula--show:hover > p{

    position: absolute;
    top: 15%;
    opacity: 0.8;
    margin-left: 10%;
    margin-right: 10%;
    color:#fff;
    font-family: var(--font);
    font-size: 15px;
    padding: 10px;
    transition:all 0.6s ;

}

@keyframes primera{

    0% {margin-left:0;}
    100% {margin-left:0%;}

}

@keyframes primera-hacia-segunda{

    0% {margin-left:0;}
    100% {margin-left:-100%;}

}

@keyframes primera-hacia-tercera{

    0% {margin-left:-0%;}
    100% {margin-left:-200%;}

}

@keyframes segunda{

    0% {margin-left:0;}
    100% {margin-left:-100%;}

}

@keyframes segunda-hacia-tercera{

    0% {margin-left:-100%;}
    100% {margin-left:-200%;}

}

@keyframes tercera-hacia-primera{

    0% {margin-left:-200%;}
    100% {margin-left:-0%;}

}

@keyframes tercera-hacia-segunda {
    
    0% {margin-left:-200%;}
    100%{margin-left: -100%;}
}


@keyframes cambio{

    0% {margin-left:0;}
    30% {margin-left:0;}

    35%{margin-left: -100%;}
    75%{margin-left: -100%;}

    85%{margin-left: -200%;}
    100%{margin-left: -200%;}

}

.fa-chevron-left{

    position: absolute;
    top:50%;
    margin-left: 2%;
    font-size: 60px;
    color:#fff;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 0.2s;

}

.fa-chevron-left:hover{
    opacity: 1;
    cursor: pointer;
}

.fa-chevron-right{

    position: absolute;
    top:50%;
    right:10px;
    /*margin-left: 90%;*/
    font-size: 60px;
    color:#fff;
    opacity: 0.4;
    z-index: 1000;
    transition: opacity 0.2s;

}

.fa-chevron-right:hover{
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 1100px){

    .fa-chevron-left {

        position: absolute;
        top:30%;
        font-size: 80px;

    }
    
    .fa-chevron-right{

        position: absolute;
        top:30%;
        font-size: 80px;
   
    }
}

@media (max-width: 700px){
    .fa-chevron-left {

        position: absolute;
        top:35%;
        font-size: 40px;

    }
    
    .fa-chevron-right{

        position: absolute;
        top:35%;
        font-size: 40px;
   
    }

}